.right_bar_header {
  width: 82%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 60px;
  border-bottom: 1px solid #cfcdcd;
}

.header h3 {
  margin: 0 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
}

