@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import "./login.scss";
@import "./register.scss";
@import "./header.scss";
@import "./home.scss";
@import "./leftBar.scss";
@import "modal";
@import "./worker_create_modal";
@import "./main";

button{
    cursor: pointer;
}
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.wrapper{
    width: 100%;
    overflow: hidden;
}

.container{
    max-width: 1170px;
    width: 100%;
    margin: auto;
}


body{
    background: #fff;
    font-family: 'PT Sans', sans-serif;
}
h2{
    padding-top: 1.5rem;
}
a{
    color: #333;
}
a:hover{
    color: #da5767;
    text-decoration: none;
}