.left_bar_header {
  width: 18%;
  background-color: rgba(0, 0, 0, 0.84);
}

.header {
  display: flex;
}

.left_bar_header_image_block {
  width: 35px;
  height: 40px;
  margin: 10px;
}

.left_bar_header_image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.left_bar_main {
  width: 18%;
  height: 90.4vh;
  background-color: #080710;
}

.left_bar_main_button {
  padding-top: 20px;
  text-align: center;

  button {
    font-size: 18px;
    background-color: #080710;
    border: 1px dashed #f8f8f8;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    transition: all 0.3s;
  }

  button:hover {
    background-color: #131123;
  }
}

.workers_block {
  display: flex;
  padding: 12px 0;
  width: 100%;
  border-bottom: 1px solid rgba(171, 158, 192, 0.44);
}
.workers_block_icon{
  margin-left: 10px;
  padding:0 5px;
  cursor: pointer;
}
.workers_block_text{
  padding-left: 20px;
  text-align: left;
  span {
    padding: 5px;
    font-size: 14px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    color: black;
  }
  color: white;
}
