* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.login_block, .register_block{
  background-image: url("../../../public/images/loginBack.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.register_block {
  background-image: url("../../../public/images/registerBack.jpg");
}

.register_block-opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0, 0.7);
}


.login_form, .register_form{
  height: 520px;
  width: 400px;
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
.login_form, .register_form *{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.login_form, .register_form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.login_label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.login_input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color: white;
}
::placeholder{
  color: #e5e5e5;
}
.login_button, .register_button{
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.login_span{
  position: absolute;
  font-size: 14px;
  display: block;
  color: #e1d5d5;
  margin-top: 5px;
}
