.register_form {
  width: 800px;
  height: 580px;
}

.register_form  {
  display: flex;
  flex-direction: column;
}

.register_input_blocks {
  display: flex;
  justify-content: space-between;
}

.register_single_input {
  width: 47%;
}



.register_button {
  margin-left: 30%;
  width: 40%;
  color: black;
  font-size: 18px;
  padding: 10px 50px;
  border-radius: 5px;
  background-color: #fff;
}