.main_project, .main_task {
  margin: 20px;
  font-size: 18px;
  text-decoration: none;
}

.no-projects {
  background-color: #82a8b6;
  padding: 20px 10px;
  text-align: center;
  font-size: 25px;
  border-radius: 20px;
}

.main_right_block {
  width: 82%;
}

.main_right_content {
  padding: 10px 10px;
  width: 100%;
  -webkit-box-shadow: 4px 11px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 11px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 11px 8px 0px rgba(34, 60, 80, 0.2);
}


.container_task_table {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.add-project-div {
  display: flex;
  padding: 3px 10px;
  align-items: center;
  border-radius: 5px;
  font-size: 20px;
  text-align: left;
  background-color: #e4eeef;
  width: 14%;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 0.2s;

  svg {
    margin-left: 10px;
  }
}

.add-project-div:hover {
  background-color: #cfdbdc;
}

h2 {
  font-size: 26px;
  margin: 5px 0;
  text-align: center;

  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
  }

  .table-header {
    background-color: #e4eeef;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }

  .col-1 {
    flex-basis: 8%;
  }

  .col-2 {
    flex-basis: 15%;
  }

  .col-3 {
    flex-basis: 30%;
  }

  .col-4 {
    flex-basis: 15%;
  }

  .col-5 {
    flex-basis: 1%;
    max-width: 80px;
    cursor: pointer;
  }

  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row {

    }
    li {
      display: block;
    }
    .col {

      flex-basis: 100%;

    }
    .col {
      display: flex;
      padding: 10px 0;

      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}

.worker_create_text_area {
  resize: none;
  display: block;
  height: 80px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 5px 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color: white;
}
