.worker_create_form{
  height: 400px;
  width: 25vw;
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 20px 25px;
}
.worker_create_form *{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.worker_create_form h3{
  font-size: 25px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.worker_create_label{
  display: block;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 500;
}
.worker_create_input{
  display: block;
  height: 35px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color: white;
}
.worker_create_button{
  margin-top: 30px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.worker_create_span{
  position: absolute;
  font-size: 14px;
  display: block;
  color: #ff0000;
  margin-top: 5px;
}